<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.diff.services.mapper.ProjectInfoMapper">

    <resultMap id="BaseResultMap" type="com.test.diff.services.entity.ProjectInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="repotId" column="repot_id" jdbcType="INTEGER"/>
            <result property="projectGroup" column="project_group" jdbcType="VARCHAR"/>
            <result property="projectName" column="project_name" jdbcType="VARCHAR"/>
            <result property="projectUrl" column="project_url" jdbcType="VARCHAR"/>
            <result property="isDiable" column="is_diable" jdbcType="BIT"/>
            <result property="isDelete" column="is_delete" jdbcType="BIT"/>
            <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
            <result property="lastTime" column="last_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,repot_id,project_group,
        project_name,project_url,is_diable,
        is_delete,add_time,last_time
    </sql>
</mapper>
