<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.diff.services.mapper.ProjectInfoMapper">

    <resultMap id="BaseResultMap" type="com.test.diff.services.entity.ProjectInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="repoId" column="repo_id" jdbcType="INTEGER"/>
            <result property="env" column="env" jdbcType="VARCHAR"/>
            <result property="projectGroup" column="project_group" jdbcType="VARCHAR"/>
            <result property="projectName" column="project_name" jdbcType="VARCHAR"/>
            <result property="projectUrl" column="project_url" jdbcType="VARCHAR"/>
            <result property="collectStatus" column="collect_status" jdbcType="INTEGER"/>
            <result property="reportStatus" column="report_status" jdbcType="INTEGER"/>
            <result property="isDisable" column="is_disable" jdbcType="BIT"/>
            <result property="isDelete" column="is_delete" jdbcType="BIT"/>
            <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
            <result property="lastTime" column="last_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,repo_id,env,project_group,
        project_name,project_url,
        collect_status,report_status,
        is_disable,is_delete,add_time,last_time
    </sql>
</mapper>
