<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.diff.services.mapper.RepoInfoMapper">

    <resultMap id="BaseResultMap" type="com.test.diff.services.entity.RepoInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="depotName" column="depot_name" jdbcType="VARCHAR"/>
            <result property="depotType" column="depot_type" jdbcType="INTEGER"/>
            <result property="depotUrl" column="depot_url" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="passwd" column="passwd" jdbcType="VARCHAR"/>
            <result property="isDisable" column="is_disable" jdbcType="BIT"/>
            <result property="isDelete" column="is_delete" jdbcType="BIT"/>
            <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
            <result property="lastTime" column="last_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,depot_name,depot_type,
        depot_url,user_name,passwd,
        is_disable,is_delete,add_time,
        last_time
    </sql>
</mapper>
